@import 'mixins.styl'

container = {
  width: remCalc(1260),
  padding: remCalc(30)
}

vhGrid = {
  gap: remCalc(30),
}

spacing = {
  sm: remCalc(30),
  md: remCalc(50),
  lg: remCalc(70),
  xl: remCalc(100)
}
