@import '../utils/mixins.styl'

.feature-item-heading
  color: var(--color-heading)
  font-size: remCalc(24)
  font-weight: 600
  line-height: 1.3
  margin-bottom: .5em
  +minMedia(sm)
    font-size: remCalc(30)
