@import '../utils/mixins.styl'

navTransition = .125s

nav
  background: transparent
  display: flex
  flex-flow: column
  justify-content: center
  position: fixed
  top: 0
  left: 0
  right: 0
  height: remCalc(80)
  width: 100%
  z-index: 9009
  +minMedia(md)
    height: remCalc(100)
  &:before
    background: #FFFFFF
    box-shadow: 0 6px 12px rgba(0, 0, 0, .08)
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    transform: scaleY(0)
    transform-origin: top
    transition: transform navTransition ease-in-out
    will-change: transform
    z-index: -1
  .container
    display: flex
    align-items: center
  &.is-active
    &:before
      transform: scaleY(1)
    a,
    .hamburger-menu
      color: var(--color-primary)

.vh-nav-menu
  display: none
  list-style: none
  padding: 0
  margin: 0
  +minMedia(md)
    display: flex
    align-items: center
    justify-content: space-between
  li
    color: #FFF
    font-size: remCalc(18)
    +minMedia(md)
      margin-left: remCalc(30)
    a
      padding: remCalc(30)
      +minMedia(md)
        padding: remCalc(30) remCalc(10)
        padding-right: 0

.vh-nav-mobile
  background: #FFFFFF
  display: flex
  flex-flow: column
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 100%
  max-width: 440px
  height: 100vh
  margin: 0
  padding: 0
  padding-top: 80px
  transform: translate3d(100%, 0, 0)
  transition: transform navTransition ease-in-out
  z-index: -1
  +minMedia(md)
    display: none
  li
    color: var(--color-primary)
    display: block
    line-height: 2
    margin: 0
    width: 100%
    a
      display: block
      padding: remCalc(30)
  &.is-active
    transform: translate3d(0, 0, 0)

.vh-logo
  color: #FFFFFF
  font-size: remCalc(24)
  font-weight: bold
  margin-right: auto
  +minMedia(md)
    font-size: remCalc(32)

.hamburger-menu
  background: none
  border: none
  color: #FFF
  cursor: pointer
  font-size: remCalc(18)
  font-family: inherit
  outline: none
  +minMedia(md)
    display: none
